<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <a href="/"><img src="https://s3.eu-west-2.amazonaws.com/chrisjmit/posts/images/000/000/sungod_resize.jpeg" style="float:left"></a>
    <br><br><br><br><br><br><br>

    <h1><%= title %></h1>
    <h3>Looking for a sunny spot to eat and drink?</h3>

    <select id='placeType' onchange="setVenueType()">
      <option value="bar">Bar</option>
      <option value="cafe">Cafe</option>
      <option value="restaurant">Restaurant</option>
    </select>

    <button id = 'userLocation' onclick= 'centerUserPosition()'>
      <label> Find my position </label>
    </button>


      <div id="map"></div>
   <script src="../controllers/map/fetchMap.js"> 
   initMap(); 

   </script>
    <script src="../controllers/map/resetMapPlaces.js"></script>
    <script src="../controllers/map/renderUserLocation.js"></script>
 

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ5zivflPj5EFPSSeWuL92Og7j_kgUV4w&libraries=places&callback=initMap"
    async defer></script>

  </body>

</html>