<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <a href="/"><img src="https://s3.eu-west-2.amazonaws.com/chrisjmit/posts/images/000/000/sungod_resize.jpeg" style="float:left"></a>
    <br><br><br><br><br><br><br>

    <h1><%= title %></h1>
    <h3>Looking for a sunny spot to eat and drink?</h3>

    <select id='placeType' onchange="setValue()">
      <option value="bar">Bar</option>
      <option value="cafe">Cafe</option>
      <option value="restaurant">Restaurant</option>
    </select>

      <div id="map"></div>

      <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map;
      var infowindow;
      var markers = [];

      function initMap() {
        var london = {
          lat: 51.5073509,
          lng: -0.12775829999998223
        };
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            london = findLocation();
            map.setCenter(london);
            for (var i = 0; i < markers.length; i++) {
              markers[i].setMap(null);
            }
            markers = [];
            setPlaces(london);
          });
        } else {
          // Browser doesn't support Geolocation
          //since you set coords above this section it will default to that
        }
        map = new google.maps.Map(document.getElementById('map'), {
          center: london,
          zoom: 15
        });
            setPlaces(london, "bar");
      }

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }
        }
      }

      function findLocation() {
        return {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      }

      function setValue() {
        var placeTypeValue = document.getElementById("placeType").value;
        setPlaces(findLocation(),placeTypeValue);
      }

      function setPlaces(location, type) {
        infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = findLocation();

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          });
        }

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: location,
          radius: 1000,
          type: [type]
        }, callback);
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.setContent(place.name);
          infoWindow.open(map, this);
        });
      }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ5zivflPj5EFPSSeWuL92Og7j_kgUV4w&libraries=places&callback=initMap"
    async defer></script>

  </body>

</html>
