html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:inherit;
  margin: inherit;
}

a {
  color: #00B7FF;
}

#map {
  height: 90%;
}
